body:lang(TC),
body:lang(SC)
{
    #AboutWE .about-h2{
        font-weight: 500;
        font-family: $fontNotoSansTC;
    }
    .deco-content{
        font-weight: 100;
    } 
    .break_Chi{
        display: block;
    }  
    .hero-title {
        font-weight: 400;
    }  
    .service-title {
        font-weight: 500;  
    }
    .game-icon-container h4{
        font-weight: 500;
    }
    #liveGame .lottery .header-deco {
        width: 190px;
    }
    #ContactUs .contact-main{
        padding-top: 18em;
    }
    #liveGame .hero-header h1{
        font-weight: 500;
    }
    @media (min-width: 768px){
        #ContactUs .contact-main{
            padding-top: 2em;
        }
    }
    @media (min-width: 992px){
        #newsFeed .frame-detail h6 {
            font-weight: 800;
        }
        
    }
    @media (min-width: 1200px){
    }
    
    
}

body:lang(TC)
{
    h1,h2,h3,h4, h5, h6, p,
    #wrapper .nav_links .nav-link{
        font-family: $fontNotoSansTC;
    }
    #newsFeed .frame-detail h6 {
        font-weight: 500;
    }
}
body:lang(SC)
{
    h1,h2,h3,h4, h5, h6, p,
    #wrapper .nav_links .nav-link{
        font-family: $fontNotoSansTC;
    }
    #newsFeed .frame-detail h6 {
        font-weight: 800;
    }
}